.bloque-menu-nav {
    height: 9vh;
}

#cont-filtros-desp {
    max-height: 60vh;
    width: 35%;
    overflow-y: auto;
}


#btn-filtros {
    border-radius: 5px 5px 0px 0px;
}


#form-filtros {
    border-radius: 5px 5px 0px 0px;
}


#btn-desp-filtros {
    box-shadow: none;
}

/* Cambiar color del texto del encabezado cuando el acordeón está activo */
.accordion-button:not(.collapsed) {
    color: black !important;
}