<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HabitaRoom</title>
    <link rel="stylesheet" href="../public/css/styleIndex.css">
</head>

<body class="containerI">

    <div class="parent">
        <div class="contLogo">
            <picture>
                <img src="../public/img/logo.jpg" alt="Logo HabitaRoom">
            </picture>
            <p>HabitaRoom</p>
        </div>
        <div class="contCabecera">
            <div class="buscar">
                <input type="search" name="busqueda" class="busqueda" id="busqueda" placeholder="Buscar...">
            </div>
            <div class="usuario">
                <p class="nombreUsuario"><a href="#">Usuarisdfsdfsdfo</a></p>
                <picture>
                    <img src="../public/img/imgUsuario.png" alt="">
                </picture>
            </div>
        </div>
        <div class="contCateg">
            <p>Categorias</p>
            <form action="" class="categ">
                <button id="btnHabitantes">Habitantes</button>
                <button id="btnParticulares">Particulares</button>
                <button id="btnEmpresas">Empresas</button>
            </form>
        </div>
        <div class="contMenuLateral">
            <nav class="menuLateral">
                <ul>
                    <a href="#" aria-label="Inicio">
                        <li>
                            <img src="../public/img/icon_Inicio.png" alt="Icono de Inicio">
                            <span>Inicio</span>
                        </li>

                    </a>
                    <a href="#" aria-label="Novedades">
                        <li>
                            <img src="../public/img/icon_novedades.png" alt="Icono de Novedades">
                            <span>Novedades</span>
                        </li>
                    </a>
                    <a href="#" aria-label="Contáctanos">
                        <li>
                            <picture>
                                <img src="../public/img/icon_contactanos.jpg" alt="Icono de Contacto">
                            </picture>
                            <span>Contáctanos</span>
                        </li>
                    </a>
                    <a href="#" aria-label="Configuración">
                        <li>
                            <picture>
                                <img src="../public/img/icon_configuracion.png" alt="Icono de Configuración">
                            </picture>
                            <span>Configuración</span>
                        </li>
                    </a>
                </ul>
            </nav>
        </div>
        <button class="btnFiltroFlotante" onclick="toggleMenu()">Filtros</button>

        <div class="contMenuFiltrosDesp" id="contMenuFiltrosFesp">

            <form action="" class="filtrosContent">
                <div class="filTipoMueble">
                    <p>Tipo de Inmueble</p>
                    <select name="tipoInmueb" id="tipoInmueb" class="tipoInmueb">
                        <option value="Alquiler">Alquiler</option>
                        <option value="Alquiler">Compra</option>
                        <option value="Alquiler">Temporal</option>
                    </select>
                </div>
                <div class="filPrecio">
                    <p>Precio</p>
                    <select name="precioMin" id="precioMin" class="precioMin">
                        <option value="">Min</option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                    <select name="precioMax" id="precioMax" class="precioMax">
                        <option value="">Max</option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </div>
                <div class="filNumHabitaciones">
                    <p>Habitación / Habitaciones</p>
                    <div class="numHabitaciones">

                        <div class="hab1">
                            <input type="radio" name="hab1" id="hab1" />
                            <label for="hab1">1</label>
                        </div>
                        <div class="hab2">
                            <input type="radio" name="hab2" id="hab2" />
                            <label for="hab2">+2</label>
                        </div>
                        <div class="hab3">
                            <input type="radio" name="hab3" id="hab3" />
                            <label for="hab3">+3</label>
                        </div>
                        <div class="hab4">
                            <input type="radio" name="hab4" id="hab4" />
                            <label for="hab4">+4</label>
                        </div>
                        <div class="hab5">
                            <input type="radio" name="hab5" id="hab5" />
                            <label for="hab5">+5</label>
                        </div>
                    </div>
                </div>
                <div class="filNumBanos">
                    <p>Baños</p>
                    <div class="numBanos">

                        <div class="ban1">
                            <input type="radio" name="ban1" id="ban1" />
                            <label for="ban1">1</label>
                        </div>
                        <div class="ban2">
                            <input type="radio" name="ban2" id="ban2" />
                            <label for="hab2">+2</label>
                        </div>
                        <div class="ban3">
                            <input type="radio" name="ban3" id="ban3" />
                            <label for="ban3">+3</label>
                        </div>
                    </div>
                </div>
                <div class="filEstadoVivienda">
                    <p>Estado</p>
                    <div class="estadoViv">
                        <label><input type="checkbox" /> Checkbox</label>
                        <label><input type="checkbox" /> Checkbox</label>
                        <label><input type="checkbox" /> Checkbox</label>
                        <label><input type="checkbox" /> Checkbox</label>
                    </div>

                </div>
                <div class="filCaracteristicas">
                    <p>Características</p>
                    <div class="caracteristicas">
                        <label><input type="checkbox" /> Checkbox</label>
                        <label><input type="checkbox" /> Checkbox</label>
                        <label><input type="checkbox" /> Checkbox</label>
                        <label><input type="checkbox" /> Checkbox</label>
                        <label><input type="checkbox" /> Checkbox</label>
                        <label><input type="checkbox" /> Checkbox</label>
                    </div>
                </div>
                <div class="buscarFiltros">
                    <input type="submit" name="btnBuscarFil" id="btnBuscarFil" class="btnBuscarFil" value="Buscar">
                </div>
            </form>
        </div>
        <div class="contPublis">
            <div class="publicaciones">
                <div class="publicacion">
                    <div class="publiContainer">
                        <div class="publiImagen">
                            <img src="../public/img/ejemploPiso1.jpg" alt="Imagen de la propiedad">
                        </div>
                        <div class="detallesPubli">
                            <span class="caracPubli">Oportunidad</span>
                            <h2 class="precioPubli">60.000 €</h2>
                            <p class="tituloPubli">Casa pareada en calle Manuel De Falla</p>
                            <p class="ubicacionVivPubli">Ítrabo</p>
                            <p class="infoVivPubli">3 habs. | 1 baño | 87 m²</p>
                            <p class="descripccionPubli">
                                Bonita casa de pueblo en Ítrabo, compuesta por 3 dormitorios, 1 cuarto de baño, cocina, salón-comedor, terraza y bodega...
                            </p>
                            <div class="contBtnsPubli">
                                <button class="btnContactPubli">Contactar</button>
                                <button class="btnMensajePubli">Mensaje</button>
                                <button class="btn-whatsapp-publi">WhatsApp</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="publicacion">
                    <div class="publiContainer">
                        <div class="publiImagen">
                            <img src="../public/img/ejemploPiso1.jpg" alt="Imagen de la propiedad">
                        </div>
                        <div class="detallesPubli">
                            <span class="caracPubli">Oportunidad</span>
                            <h2 class="precioPubli">60.000 €</h2>
                            <p class="tituloPubli">Casa pareada en calle Manuel De Falla</p>
                            <p class="ubicacionVivPubli">Ítrabo</p>
                            <p class="infoVivPubli">3 habs. | 1 baño | 87 m²</p>
                            <p class="descripccionPubli">
                                Bonita casa de pueblo en Ítrabo, compuesta por 3 dormitorios, 1 cuarto de baño, cocina, salón-comedor, terraza y bodega...
                            </p>
                            <div class="contBtnsPubli">
                                <button class="btnContactPubli">Contactar</button>
                                <button class="btnMensajePubli">Mensaje</button>
                                <button class="btn-whatsapp-publi">WhatsApp</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="publicacion">
                    <div class="publiContainer">
                        <div class="publiImagen">
                            <img src="../public/img/ejemploPiso1.jpg" alt="Imagen de la propiedad">
                        </div>
                        <div class="detallesPubli">
                            <span class="caracPubli">Oportunidad</span>
                            <h2 class="precioPubli">60.000 €</h2>
                            <p class="tituloPubli">Casa pareada en calle Manuel De Falla</p>
                            <p class="ubicacionVivPubli">Ítrabo</p>
                            <p class="infoVivPubli">3 habs. | 1 baño | 87 m²</p>
                            <p class="descripccionPubli">
                                Bonita casa de pueblo en Ítrabo, compuesta por 3 dormitorios, 1 cuarto de baño, cocina, salón-comedor, terraza y bodega...
                            </p>
                            <div class="contBtnsPubli">
                                <button class="btnContactPubli">Contactar</button>
                                <button class="btnMensajePubli">Mensaje</button>
                                <button class="btn-whatsapp-publi">WhatsApp</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="publicacion">
                    <div class="publiContainer">
                        <div class="publiImagen">
                            <img src="../public/img/ejemploPiso1.jpg" alt="Imagen de la propiedad">
                        </div>
                        <div class="detallesPubli">
                            <span class="caracPubli">Oportunidad</span>
                            <h2 class="precioPubli">60.000 €</h2>
                            <p class="tituloPubli">Casa pareada en calle Manuel De Falla</p>
                            <p class="ubicacionVivPubli">Ítrabo</p>
                            <p class="infoVivPubli">3 habs. | 1 baño | 87 m²</p>
                            <p class="descripccionPubli">
                                Bonita casa de pueblo en Ítrabo, compuesta por 3 dormitorios, 1 cuarto de baño, cocina, salón-comedor, terraza y bodega...
                            </p>
                            <div class="contBtnsPubli">
                                <button class="btnContactPubli">Contactar</button>
                                <button class="btnMensajePubli">Mensaje</button>
                                <button class="btn-whatsapp-publi">WhatsApp</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="contMapa">
            <div class="mapa">
                soy un mapa
            </div>
        </div>
        <div class="contChat">
            <div class="chatContent">
                Contenido del Chat
            </div>

        </div>
    </div>

</body>
<script>

    function toggleMenu() {
        const menu = document.getElementById('contMenuFiltrosFesp');
        if (menu.style.display === 'none' || menu.style.display === '') {
            menu.style.display = 'block';
        } else {
            menu.style.display = 'none';
        }
    }
</script>

</html>