/* LOGIN */
#cont_logo {
    height: 100px;
    overflow: hidden;
}

#logo_login:hover {
    font-size: 5em !important;
}




/* REGISTER */

.video-fondo {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}






/* INDEX */
.color_fondo_web {
    background-color: #d4e7da85;
}

.btn-soft-green-hr{
    background-color: #1bc92c !important;
}



#row_filtros{
    height: 100%;

}
.categoria_relative{
    position: relative ;
    z-index: -1;    

}

#cont_btns_index{
    height: 22vh; width: auto;
}

.btns_relative{
    display: none;
}
.footer_end_absolute{
    
    z-index: 999 ;
}








/* HEADER*/

#text_logo{
    color: #49B59F;
}

#imgUsuarioHeader {
    width: 5.5vh;
    height: 5.5vh;
    object-fit: cover;
    border-radius: 50%;
}

.bloque-menu-nav {
    height: 8vh;
}

#offcanvasNavbar {
    background-color: #AFF5B6;
}

#menuLateralIndex li a {
    color: black;
}

#offcanvasNavbarLeft {
    background-color: #AFF5B6;

}

.color_fondo_header {
    background-color: #ffffff ;
}










/* FILTROS */


#form-filtros-desp {
    height: 100vh;
    overflow-y: auto;
    padding-right: 15px;
}







/* SCROLL BAR*/

/* Ancho */
::-webkit-scrollbar {
    width: 10px;
}

/* Color de fondo */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Scroll Bar */
::-webkit-scrollbar-thumb {
    background: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}







/* PUBLICACION */

@media screen and (min-width: 992px) {
    #contPublicacion {
        width: 900px;
        height: 301px;

    }

    #imgPublicIndex {
        height: 300px;
    }
}

#contPublicacion {
    min-height: 300px;
    max-height: 1000px;

}

/* Imagen Publicación */
#imgPublicIndex {
    width: 100%;
    object-fit: cover;
    max-height: 300px;
}

.carousel {
    width: 100%;
}

/* Descripción Publicación */
.descripccionPubli {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Asegura que los contenedores de imagen no cambien de tamaño sin imágenes */
.carousel-item {
    background-color: #f0f0f0;
}




/* MAPA */
#mapa {
    width: 320px;
    height: 350px;
    top: clamp(70px, 4vh, 160px);
    z-index: 1;
    background-color: white;
}

#formBuscarMapa {
    width: 100%;
}





/* CHAT */
#chat {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
    background-color: white;

}





/* CREAR PUBLICACIONES */


.crear-publicacion {
    font-size: 1.2em;
}

#label_tipo_inmueble {
    padding-left: 3%;
    font-size: 0.70em;
    color: #198754;
    box-shadow: none;

}

#tipo_inmueble {
    box-shadow: none;
    border: solid 1px#198754;
}

.cont_titulo_crear_publi{
    background-color: #c9c8c8be;
}

.error-input {
    border: 1px solid red;
    background-color: #fdd;
}

.error {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
    display: block;
}






/* PERFIL USUARIO */

.profile-header {
    height: 250px;
}

.profile-header img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;

}

.descripcion-perfil {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#btn_accion_perfil {
    width: 100%;
    margin-top: 10px;
}

#cont_img_publi_perfil {
    width: 100%;
    height: 30vh;

}

#img_publi_perfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}