/* LOGIN */
#cont_logo {
    height: 100px;
    overflow: hidden;
}

#logo_login:hover {
    font-size: 5em !important;
}


/* REGISTER */

#cont_registro {
    overflow-y: auto;
    max-height: 100vh;
}

/* HEADER */

#imgUsuarioHeader {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}


/* INDEX */

/* NAV BAR*/

/* Espacio ocupado por nav */
.bloque-menu-nav {
    height: 5vh;
}

/* Navbar Lateral IZQUIERDA y DERECHA*/
#offcanvasNavbar {
    background-color: #AFF5B6;
}

#menuLateralIndex li a {
    color: black;
}

#offcanvasNavbarLeft {
    background-color: #AFF5B6;

}




/* FILTROS */

/* Contenedor de filtro por categoria */
/* Botones filtro desplegable */
#btn-desp-filtros {
    box-shadow: none;
}

/* Titulo Filtros desplegable*/
#btn-desp-filtros:not(.collapsed) {
    color: rgb(17, 17, 17) !important;
}

#cont-filtros-desp {
    top: clamp(225px, 18vh, 280px);
    max-width: 22%;
}

#form-filtros-desp {
    max-height: 65vh;
    overflow-y: auto;
    padding-right: 15px;
}



/* Estilos para el contenedor de filtros desplegables en diferentes tamaños de pantalla */
@media screen and (max-width: 1750px) {
    #cont-filtros-desp {
        max-width: 24%;
    }
}

@media screen and (max-width: 1550px) {
    #cont-filtros-desp {
        max-width: 27%;
    }
}



/* SCROLL BAR*/

/* Ancho */
::-webkit-scrollbar {
    width: 10px;
}

/* Color de fondo */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Scroll Bar */
::-webkit-scrollbar-thumb {
    background: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}







/* PUBLICACION */

@media screen and (min-width: 992px) {
    #contPublicacion {
        width: 900px;
        height: 301px;

    }

    #imgPublicIndex {
        height: 300px;
    }
}

#contPublicacion {
    min-height: 300px;
    max-height: 1000px;

}

/* Imagen Publicación */
#imgPublicIndex {
    width: 100%;
    object-fit: cover;
    max-height: 300px;
}

.carousel {
    width: 100%;
}

/* Descripción Publicación */
.descripccionPubli {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Asegura que los contenedores de imagen no cambien de tamaño sin imágenes */
.carousel-item {
    background-color: #f0f0f0;
}




/* MAPA */
#mapa {
    width: 320px;
    height: 350px;
    top: clamp(70px, 4vh, 160px);
    z-index: 1;
    background-color: white;
}

#formBuscarMapa {
    width: 100%;
}





/* CHAT */
#chat {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
    background-color: white;

}





/* CREAR PUBLICACIONES */


.crear-publicacion {
    font-size: 1.2em;
}

#label-tipo-inmueble {
    padding-left: 3%;
    font-size: 0.70em;
    color: #198754;
    box-shadow: none;

}

#tipo-inmueble {
    box-shadow: none;
    border: solid 1px#198754;
}







/* PERFIL USUARIO */

.profile-header {
    height: 250px;
}

.profile-header img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;

}

.descripcion-perfil {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#btn_accion_perfil {
    width: 100%;
    margin-top: 10px;
}

#img_publi_perfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}